# Optional - Specify 'A' or 'a' for accepting the license.
# Specify 'R' or 'r' for rejecting the license. If the property is
# empty, user will be prompted during installation.
dsxhi_license_acceptance={{dsxhi_license_acceptance}}

# Mandatory - Specify the username and group of the user (dsxhi service user)
# running the dsxhi service.
dsxhi_serviceuser={{dsxhi_serviceuser}}
dsxhi_serviceuser_group={{dsxhi_serviceuser_group}}

# If the CDH cluster is kerberized, it is mandatory to specify the complete
# path to the keytab for the dsxhi service user and the spnego keytab.
# If the CDH cluster is not kerberized, these properties should be left blank.
dsxhi_serviceuser_keytab={{dsxhi_serviceuser_keytab}}
dsxhi_spnego_keytab={{dsxhi_spnego_keytab}}

# Mandatory - Specify the port number for the dsxhi gateway service. This port
# should be accessible externally.
dsxhi_gateway_port={{dsxhi_gateway_port}}

# Mandatory - Specify the port number for the dsxhi rest service.
dsxhi_rest_port={{dsxhi_rest_port}}

# Optional - Specify the Cloudera Manager URL and admin username for the CDH
# cluster. User will be prompted for password during installation. If the URL
# is not specified, some pre-checks will not be performed prior to the dsxhi
# installation.
cluster_manager_url={{cluster_manager_url}}
cluster_admin={{cluster_admin}}

# Optional - Specify the cluster name for the CDH if multiple clusters are configured using a single Cloudera Manager
cluster_name={{cluster_name}}

# Optional - Specify the Hadoop services that dsxhi service should expose.
exposed_hadoop_services={{exposed_hadoop_services}}

# Optional - Specify the URL for the webhcat service.
existing_webhcat_url={{existing_webhcat_url}}

# Optional - If the CDH cluster has Livy for SPARK and/or SPARK2 configured,
# then specify the URL.
existing_livyspark_url={{existing_livyspark_url}}
existing_livyspark2_url={{existing_livyspark2_url}}

# Mandatory - Specify the port number that dsxhi service should use when
# installing and configuring Livy for SPARK and/or SPARK2.
dsxhi_livyspark_port={{dsxhi_livyspark_port}}
dsxhi_livyspark2_port={{dsxhi_livyspark2_port}}

# Optional - Specify the list of URL for the dsx local clusters that will
# register this dsxhi service. The URL should include the port number if
# necessary.
known_dsx_list={{known_dsx_list}}

# Optional - Specify `True` or `true` to systemctl enable dsxhi
systemctl_enable={{systemctl_enable}}


# Optional - Specify an installer tool to install packages
# supported tools are yum, rpm, dnf. This option should be set to use the
# install_package script.
package_installer_tool={{package_installer_tool}}

# Optional - Specify packages to install, you can provide multiple packages in
# same line comma separated (ex:package1,package2). This option should be set
# to use the install_package script.
packages={{packages}}

# Optional - Specify specific hadoop cluster hosts you want to install
# packages on. You can provide multiple hosts on same line comma separated
# (ex: host1,host2,host3). If this option is set packages will be installed on
# hosts specified else packages will be installed on all nodemanager hosts of
# hadoop cluster.
cluster_nodes={{cluster_nodes}}

# Optional - Specify user to be able to ssh to the hadoop cluster using the
# ssh key and install packages. This option should be set to use the
# install_package script.
cluster_ssh_user={{cluster_ssh_user}}

# Optional - Specify path to ssh private key/certificate which will be used
# to ssh to hadoop cluster nodes to install packages. This option should
# be set to use the install_package script (ex: /root/.ssh/id_rsa).
cluster_ssh_key_path={{cluster_ssh_key_path}}

#